
.menu_logon {
    border: 1px solid black;
    margin: auto;
    width: 50%;
    padding: 3px;
    height: 160px;
    align-items: center ;
    vertical-align: middle;
}

.identifiant,
.mdp,
.choixUser {
    margin: 0 auto;
    padding:3px
    width: 95%;
    margin: 5px;
    border: thick double red;
    align-content: space-around;
}


label {
   background-color: aqua;
   width: 40%;
   display: inline-block;
}